# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/node_modules
/.pnp
.pnp.js
.history
env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# testing
/coverage
.vscode
# next.js
/.next/
/out/
.lighthouseci
# production
/build
tailwindui/
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.next/app-build-manifest.json
.next/build-manifest.json
.next/cache/fetch-cache/2ad539073e5ffe30ab277b1f932ae5f3dabc1414b1de077b333f26a97f3cff81
.next/cache/fetch-cache/359409fdac4c4d3570c23a52930a55beb193e54a03e5df242f4e42d450fcc2cb
.next/cache/fetch-cache/4cc55b2251d28c879b1d6cdd5e9c9449df160aa793b7d94c3d5fbd50f7e2e28e
.next/cache/fetch-cache/6f06205591a39514996ef2d5c9428e974d9397ee3c35869bd2e06381690551c2
.next/cache/fetch-cache/92d24aa9e764d0a5f24f10f8f23f415ae1069b228aa77f6a4fd6b95f7e5fed2a
.next/cache/fetch-cache/dc5c38174a2ec0a3f3e2a7954a0b7b86444f1881894422e92cebad7915677ad9
.next/cache/fetch-cache/ede96c2c554609998781690185e08b06b8939d710ae4383376b9b4cc61016b6f
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/16.pack.gz
.next/cache/webpack/client-development/17.pack.gz
.next/cache/webpack/client-development/18.pack.gz
.next/cache/webpack/client-development/19.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/20.pack.gz
.next/cache/webpack/client-development/21.pack.gz
.next/cache/webpack/client-development/22.pack.gz
.next/cache/webpack/client-development/23.pack.gz
.next/cache/webpack/client-development/24.pack.gz
.next/cache/webpack/client-development/25.pack.gz
.next/cache/webpack/client-development/26.pack.gz
.next/cache/webpack/client-development/27.pack.gz
.next/cache/webpack/client-development/28.pack.gz
.next/cache/webpack/client-development/29.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/30.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/10.pack
.next/cache/webpack/client-production/11.pack
.next/cache/webpack/client-production/12.pack
.next/cache/webpack/client-production/13.pack
.next/cache/webpack/client-production/14.pack
.next/cache/webpack/client-production/15.pack
.next/cache/webpack/client-production/16.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/3.pack
.next/cache/webpack/client-production/4.pack
.next/cache/webpack/client-production/5.pack
.next/cache/webpack/client-production/6.pack
.next/cache/webpack/client-production/7.pack
.next/cache/webpack/client-production/8.pack
.next/cache/webpack/client-production/9.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/15.pack.gz
.next/cache/webpack/server-development/16.pack.gz
.next/cache/webpack/server-development/17.pack.gz
.next/cache/webpack/server-development/18.pack.gz
.next/cache/webpack/server-development/19.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/20.pack.gz
.next/cache/webpack/server-development/21.pack.gz
.next/cache/webpack/server-development/22.pack.gz
.next/cache/webpack/server-development/23.pack.gz
.next/cache/webpack/server-development/24.pack.gz
.next/cache/webpack/server-development/25.pack.gz
.next/cache/webpack/server-development/26.pack.gz
.next/cache/webpack/server-development/27.pack.gz
.next/cache/webpack/server-development/28.pack.gz
.next/cache/webpack/server-development/29.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/30.pack.gz
.next/cache/webpack/server-development/31.pack.gz
.next/cache/webpack/server-development/32.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/3.pack
.next/cache/webpack/server-production/4.pack
.next/cache/webpack/server-production/5.pack
.next/cache/webpack/server-production/6.pack
.next/cache/webpack/server-production/7.pack
.next/cache/webpack/server-production/8.pack
.next/cache/webpack/server-production/9.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/_ssr_app_components_Avatar_tsx.js
.next/server/app-paths-manifest.json
.next/server/app/_not-found_client-reference-manifest.js
.next/server/app/ecommerce-tutorials/page.js
.next/server/app/ecommerce-tutorials/page_client-reference-manifest.js
.next/server/app/favicon.ico/route.js
.next/server/app/not-found.js
.next/server/app/not-found_client-reference-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/@babel.js
.next/server/vendor-chunks/@heroicons.js
.next/server/vendor-chunks/@internationalized.js
.next/server/vendor-chunks/@nextui-org.js
.next/server/vendor-chunks/@react-aria.js
.next/server/vendor-chunks/@react-stately.js
.next/server/vendor-chunks/@reduxjs.js
.next/server/vendor-chunks/async-mutex.js
.next/server/vendor-chunks/classnames.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/framer-motion.js
.next/server/vendor-chunks/get-nonce.js
.next/server/vendor-chunks/goober.js
.next/server/vendor-chunks/gsap.js
.next/server/vendor-chunks/hoist-non-react-statics.js
.next/server/vendor-chunks/immer.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/nextjs-toploader.js
.next/server/vendor-chunks/nprogress.js
.next/server/vendor-chunks/object-assign.js
.next/server/vendor-chunks/prop-types.js
.next/server/vendor-chunks/react-hot-toast.js
.next/server/vendor-chunks/react-icons.js
.next/server/vendor-chunks/react-is.js
.next/server/vendor-chunks/react-redux.js
.next/server/vendor-chunks/react-remove-scroll-bar.js
.next/server/vendor-chunks/react-remove-scroll.js
.next/server/vendor-chunks/react-style-singleton.js
.next/server/vendor-chunks/redux-thunk.js
.next/server/vendor-chunks/redux.js
.next/server/vendor-chunks/reselect.js
.next/server/vendor-chunks/tailwind-merge.js
.next/server/vendor-chunks/tailwind-variants.js
.next/server/vendor-chunks/tslib.js
.next/server/vendor-chunks/use-callback-ref.js
.next/server/vendor-chunks/use-sidecar.js
.next/server/vendor-chunks/use-sync-external-store.js
.next/server/webpack-runtime.js
.next/static/chunks/_app-pages-browser_app_components_Avatar_tsx.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/app/ecommerce-tutorials/error.js
.next/static/chunks/app/ecommerce-tutorials/page.js
