@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-1: apercu, sans-serif;
  --color-primary: #222;
  --color-primary-rgb: 34, 34, 34;
  --color-link: #222;
  --color-white: #f8f8f8;
  --color-white-rgb: 248, 248, 248;
  --text-size-small: 12px;
  --text-size-primary: 16px;
  --text-size-medium: 18px;
  --text-size-large: 24px;
  --border-gray: #e9e9e9;
  --color-dotteds-rgb: 34, 34, 34;
  --bg-primary: var(--color-white);
  --bg-primary-rgb: rgb(var(--color-white-rgb));
  --bg-secondary: #222;
  --bg-3rd: #e9e9e9;
  --bg-4rd: #f3f3f3;
  --bg-white: var(--color-white);
  --header-height: 71px;
  --gutter: 20px;
  --pad-inner: 52px;
  --color-odd-rows: #f3f3f3;
  --avatar-bg: #F8F8F8;
  --border-table: #222;
  --alert-green: #e0f4d9;
  --alert-green-rgb: 224, 244, 217;
  --alert-yellow: #FFF083;
  --alert-yellow-rgb: 255, 240, 131;
  --rounded-small: 4px;
  --rounded-normal: 8px;
  --rounded-large: 1rem;
  --img-resizing-site: 16 / 12;
  --img-resizing-paronamic: 2 / 1;
  --img-resizing-desktop: 19 / 10;
  --sf-height: 48px;
  --sf-bg: var(--bg-3rd);
  --hf-bg: var(--bg-primary)
}


*,
*:before,
*:after {
  box-sizing: border-box;
  outline:  none !important;
  border: none !important;
  margin: 0;
  padding: 0;
}

*:focus {
  outline:  none !important;
  border: none !important;
  background-color: inherit !important;
  -webkit-tap-highlight-color: transparent !important;
}

 
 
html, body {
  margin: auto;
  font-family: var(--font-1);
  font-size: var(--text-size-primary);
  font-weight: 500;
  background: var(--bg-primary);
  color: var(--color-primary);
  line-height: 200%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
footer {
  color: var(--color-primary);
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}


canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn, button {

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height);
    padding: 0 var(--button-pad);
    background-color: var(--button-bg);
    font-size: var(--text-size-primary);
    color: var(--button-color);
    text-align: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    transition: color .3s,background .3s,border .3s;
    height: var(--sf-height)
}

label, ::placeholder {
  color: var(--color-primary) !important;
  font-family: var(--font-1);
  font-weight: bold;
}
.font-apercu {
  font-family: 'apercu';
  font-weight: 500;
}

.font-apercu-bold {
  font-family: 'apercu';
  font-weight: 800;
}

.font-apercu-medium {
  font-family: 'apercu';
  font-weight: 600;
} 

.font-apercu-light {
  font-family: var(--font-apercu-light);
} 

.font-monterrat {
  font-family: var(--font-monterrat);
  font-weight: 500;
}

.font-monterrat-bold {
  font-family: var(--font-monterrat);
  font-weight: 700;
}

.font-monterrat-black {
  font-family: var(--font-monterrat);
  font-weight: 900;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"] {
  background: #e9e9e9;
  border: 1px solid var(--input-border);
  border-radius: 8px; 
  font-family: 'apercu';
  color: var(--input-color);
  filter: brightness(90%);
  height: var(--sf-height)
}

form path{
  stroke: var(--color-primary);
}