@tailwind base;
@tailwind components;
@tailwind utilities;

     
*,
*:before,
*:after {
  box-sizing: border-box;
  outline:  none !important;
  border: none !important;
  margin: 0;
  padding: 0;
}

*:focus {
  outline:  none !important;
  border: none !important;
  background-color: inherit !important;
  -webkit-tap-highlight-color: transparent !important;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent !important;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  -webkit-font-smoothing: antialiased !important;
  font-family: var(--font-apercu);
}
 
body {
  margin: auto;
  font-family: var(--font-1);
  font-size: var(--text-size-primary);
  font-weight: 300;
  background: var(--bg-primary);
  color: var(--color-primary);
  line-height: 200%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}


canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn {

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height);
    padding: 0 var(--button-pad);
    background-color: var(--button-bg);
    font-size: var(--text-size-primary);
    color: var(--button-color);
    text-align: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    transition: color .3s,background .3s,border .3s;
}


.font-apercu {
  font-family: var(--font-apercu);
}

.font-apercu-bold {
  font-family: var(--font-apercu-bold);
}

.font-apercu-medium {
  font-family: var(--font-apercu-medium);
} 

.font-apercu-light {
  font-family: var(--font-apercu-light);
} 

.font-monterrat {
  font-family: var(--font-monterrat);
  font-weight: 500;
}

.font-monterrat-bold {
  font-family: var(--font-monterrat);
  font-weight: 700;
}

.font-monterrat-black {
  font-family: var(--font-monterrat);
  font-weight: 900;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"] {
  background: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: var(--input-radius);
  color: var(--input-color);
  filter: brightness(90%);
}