
  
form {
    width: 100%;
  
  }
  
  input[type="submit"],
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="tel"],
  input[type="url"] {
    border-radius: 8px; 
    font-family: var(--font-apercu);
    color: var(--input-color);

    height: var(--sf-height);
    width: 100%;
    background: #f0f1fa;
  }  
  
  label {
    @apply my-3 !important; 
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  textarea {
      @apply bg-input;
  }  
  
  input[type="file"] {
    background: none;
    height: unset;
    width: unset;
  
  }


form {
    position: relative;
} 
  
  
   
    ::placeholder {
      opacity: .4 !important;
    }
    div::focus-visible, div:focus, div:focus-within, div:focus-visible {
      border: none !important;
      outline: none !important;
  
    }



textarea {
  width: 100%;
  height: 400px;
  @apply bg-input rounded-lg p-5 shadow-lg;
}
 
 
.input-svg path {
  stroke: inherit !important;
}


