@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-1: var(--font-apercu);

  --font-2: var(--font-montserrat);
  --color-primary: #222;
  --color-primary-rgb: 34, 34, 34;
  --color-link: #222;
  --color-white: #f8f8f8;
  --color-white-rgb: 248, 248, 248;
  --text-size-small: 12px;
  --text-size-primary: 16px;
  --text-size-medium: 18px;
  --text-size-large: 24px;
  --border-gray: #e9e9e9;
  --color-dotteds-rgb: 34, 34, 34;
  --bg-primary: var(--color-white);
  --bg-primary-rgb: rgb(var(--color-white-rgb));
  --bg-secondary: #222;
  --bg-3rd: #e9e9e9;
  --bg-4rd: #f3f3f3;
  --bg-white: var(--color-white);
  --header-height: 71px;
  --gutter: 20px;
  --pad-inner: 52px;
  --color-odd-rows: #f3f3f3;
  --avatar-bg: #F8F8F8;
  --border-table: #222;
  --alert-green: #e0f4d9;
  --alert-green-rgb: 224, 244, 217;
  --alert-yellow: #FFF083;
  --alert-yellow-rgb: 255, 240, 131;
  --rounded-small: 4px;
  --rounded-normal: 8px;
  --rounded-large: 1rem;
  --img-resizing-site: 16 / 12;
  --img-resizing-paronamic: 2 / 1;
  --img-resizing-desktop: 19 / 10;
  --sf-height: 48px;
  --sf-bg: var(--bg-3rd);
  --hf-bg: var(--bg-primary)
   --tw-bg-opacity: .45 !important;
}

@layer base {
    html {
        font-family: var(--font-apercu);
    }
    h1 {
        font-family: var(--font-monterrat);
        font-weight: 900;
    }

    a, button, .btn, .button, input, ::placeholder {
        font-family: var(--font-apercu);
        font-weight: bold;
    }
     
    .vertical-lr {
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr
    }
    button, input[type="submit"] {
        @apply bg-button hover:bg-button-hover text-white focus:text-white hover:cursor-pointer hover:text-white !important;
    }
    
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
  outline:  none !important;
  border: none !important;
  margin: 0;
  padding: 0;

}
::-webkit-scrollbar {
  display: none;
}
*:focus {
  outline:  none !important;
  border: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

 
 p {
  font-size: calc(15px + 0.390625vw);

 }
html, body {
  margin: auto;
  font-weight: 500;
  background: var(--bg-primary);
  color: var(--color-primary);
  line-height: 200%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: auto;
  min-height: 100vh;
  width: 100%;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
    position: relative;
}
.fade::after,
.fade::before {
    content: "";
    position: fixed;
    left: 0;
    width: 100%;
    height:200px;
    z-index: 1;
}
.fade::after {
    background: linear-gradient(0deg, rgba(248,248,248,1) 0%, transparent 85%);
    bottom: 0;

}
.fade::before {
    background: linear-gradient(180deg, rgba(248,248,248,1) 0%, transparent 85%);
    top: 0;
}
main {
  flex: auto;
  display: flex;
}
footer {
  color: var(--color-primary);
}
 
nav {
  z-index: 100 !important;
  position: fixed !important;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
 


h1,h2,h3,h4,h5,h6 {
    margin: 0 !important;
}

 
 /* .hero {
    @apply max-w-lg !important;
 } */
 
 
form {
  width: 100%;
  @apply max-w-3xl;
}
button,
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"] {
  border: 1px solid var(--input-border);
  border-radius: 8px; 
  font-family: var(--font-apercu);
  color: var(--input-color);
  filter: brightness(90%);
  height: var(--sf-height);
  width: 100%;
}

input[type="text"],
input[type="email"],
/* input[type="password"], */
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
    @apply bg-input;
}
 
form path{
  stroke: var(--color-primary);
}
 

 
/* .canvas-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
} */
/* s */
/* .hero-half canvas {
  position: absolute;
  height: 100%;
  width: 100%;
} */
input:focus {
  background: #323232 !important;
  color: white !important;
}

path.focus {
  stroke: white !important;
}


.RETICOOL {
  position:fixed;
  z-index: 9999;
  height: 40px;
  width: 40px;
}

.RETICOOL__circle {
  border: 3px solid red;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
 

.error-message {
  color: red;
}
 .error {
  border: 3px solid red !important;
  background-color: #fe6262 !important;
  @apply text-white;
 }
.hero {
  background-attachment: fixed;
}

.home .hero {
    background: unset !important;
}

.shadow-text{
    position: absolute;
	top: 0px;
    transform: translate3d(-30%,0,0);
    /* transform: translate(-10%,0); */
	width: auto;
	height: auto;
	text-align: left;
	
    writing-mode: tb;
	font-size: 30vw;
	/* line-height: 100%; */
    @apply font-montserrat font-black bg-gradient-to-r from-transparent from-20% to-gray-300 bg-clip-text text-transparent;
  word-break: break-word;

	white-space: nowrap;
	z-index: 1;
}

.shadow-text .char {
    mix-blend-mode: difference;
    font-family: var(--font-monterrat);
    will-change: transform;
    font-weight: 900;

    /* opacity: 0; */
    @apply font-montserrat font-black bg-gradient-to-r from-transparent from-20% to-gray-300 bg-clip-text text-transparent;
}

 
form {
    position: relative;
}
[name=sub-input-info] {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    display: none;
}
label {
    @apply font-bold !important;
}

[data-morph="true"]:hover .mf-cursor {
    opacity: 0 !important;
}

.mf-cursor.hidden {
    opacity: 0 !important;
    transform: scale(0) !important;
}

.modal input[type="submit"] {
    color: var(--color-offwhite);
}
 .success {
  border: 3px solid green !important;
  background-color: hsl(155 46.7% 10.9%) !important;
  color: rgb(76, 195, 138) !important;
 }

.scroll-track {
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  height: 80vh;
} 
.scroll-bar {
    height: 0;
    position: absolute;
    top: 0;
    right: 5px;
}



