

.grid-item {
    @apply overflow-hidden rounded-lg bg-offwhite shadow-lg ring-4 ring-white text-black text-sm !important;
  
    display: flex;
    flex-direction: column;
    cursor: move;
  }
   
  .grid-item span {
    padding: .5rem;
  }
  
  .grid-item button {
    margin-top: .5rem;
    margin: auto;
    padding: .5rem;
    border-radius: 2rem;
    display: inline-block;
    cursor: pointer;
  }
  
  .grid-item button:active,
  .grid-item button:focus {
    outline: none;
  }
  
  .react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }
  
  .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
  }
  
  .react-grid-item.react-grid-placeholder {
    border-radius: .75rem;
    background-color: hsl(215, 28%, 17.5%);
    opacity: 0.2;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .react-grid-item:not(.react-grid-placeholder) {
    background-color: hsl(215, 14%, 37.5%);
    border: 1px #666 solid;
    box-shadow: 2px 2px 2px #333;
  }
  