
header {
    z-index: 999999999 !important;
   }
   
  .nav-btn {
    min-width:150px !important;
    flex-shrink: 0 !important;
    text-align: center;
  }
  
  nav a {
    @apply whitespace-nowrap
  }

   [data-active="false"] {
    @apply text-gray-400 !important;
  }

  [data-active="true"] {
    @apply text-black !important;
  }