.post h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.post h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.post p {
    margin-bottom: 1rem;
    font-family: 'Apercu', sans-serif;
    font-weight: 400;
}

.post img {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
